PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
TURNSTILE_SECRET_KEY=
PUBLIC_TURNSTILE_SITE_KEY=
CONTACT_EMAIL_US=
CONTACT_EMAIL_HT=
PUBLIC_SITE_URL=https://gaellementor.com
